body,
html {
  margin: 0;
  padding: 0;
  background-color: orange;
  background-image: url(images/terrainc.png);
}

.header {
  height: 100vh;
  width: 100%;
}



.top {
  margin: 140px auto;
  justify-content: center;
  align-items: center;
  height: 663px;
  width: 442px;
  border: 2px solid black;
  background-image: url(images/window1.png);

}

.modal {
  padding-bottom: 8px;
  margin: 5px;
  display: flex;
  justify-content: center;

}

.modal>h1 {
  color: rgb(239, 220, 117);
  font-family: 'Arial Narrow ', sans-serif;
  font-size: 23px;
  padding: 10px;
}

h2 {
  font-size: 14px;
  font-family: 'Times New Roman', Times, serif;
  color: rgb(239, 220, 117);
}

.task-box {
  font-size: 16px;
  font-family: 'Times New Roman', Times, serif;
  color: rgb(239, 220, 117);
  margin: 0 auto;
  height: 260px;
  width: 360px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.answer-box {
  margin-left: 10px;
  height: 190px;
  display: flex;
  width: auto;
  justify-content: center;
  align-items: center;
  justify-content: space-evenly;

}
.arrayResult{
  visibility: hidden;
}
.arraryResulVie{
  visibility: visible;
}
.showResult{
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  background-color: inherit;
  border: none;
}
.button-box {
  margin: 20px 20px 20px 28px;
  width: 380px;
  display: flex;
  flex-direction: row;
  /* justify-content: end; */
  align-items: center;
  justify-content: space-between;
}

.button1 {
  background: url(images/button.png);
  height: 38px;
  width: 70px;
  cursor: pointer;
}

.button2 {
  background: url(images/button.png);
  height: 38px;
  width: 70px;
  cursor: pointer;
}

.btnText {
  padding: 25px 0;
  height: auto;
  width: 60px;
  display: flex;
  justify-content: space-evenly;
}
.result-btns{
  margin: 20px 20px 20px 28px;
  width: 380px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

}
.results-container {
  overflow-y: scroll;
  border: none;
  scrollbar-width: thin;
  padding-top: 20px;
  margin: auto;
  height: 160px;
  width: 350px;
  display: flex;
}
::-webkit-scrollbar {
  width:3px;
}
::-webkit-scrollbar-track {
  background-color:none;
}
::-webkit-scrollbar-thumb {

  background-color:darkred;
  border-radius: 4px;

}
.scoreTask-box{
  font-size: 16px;
  font-family: 'Times New Roman', Times, serif;
  color: rgb(239, 220, 117);
  margin: -5px auto;
  padding-bottom: 25px;
  height: 240px;
  width: 360px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

}

.result-question {
  color: greenyellow;
}

.result-answer {
  color: yellow;
}

.red {
  color: red;
}
#Victory {
  margin: 0px 20px 160px 20px;
  width: 380px;
  height: 120px;
  justify-content: center;
  align-items: center;
}
#waitingImg {
  width: 380px;
  height: 260px;
  justify-content: center;
  align-items: center;
  margin:0 auto;
}

